<div style="text-align:center">
    <h1>
        TA - TE - TI
    </h1>
    <h2>{{whogoesnow}}</h2>
    <br>
    <br>
    <br>
    <br>
        
    <div class="boton-tateti">
        <button mat-raised-button (click)="setbutton(11)"  [disabled]="band==true"><img src="../../../assets/imagenes/nothing.gif" border="0" name="rc11"></button>
        <button mat-raised-button (click)="setbutton(12)" [disabled]="band==true"><img src="../../../assets/imagenes/nothing.gif" border="0" name="rc12"></button>
        <button mat-raised-button (click)="setbutton(13)" [disabled]="band==true"><img src="../../../assets/imagenes/nothing.gif" border="0" name="rc13"></button>
        <br>
        <button mat-raised-button (click)="setbutton(21)" [disabled]="band==true"><img src="../../../assets/imagenes/nothing.gif" border="0" name="rc21"></button>
        <button mat-raised-button (click)="setbutton(22)" [disabled]="band==true"><img src="../../../assets/imagenes/nothing.gif" border="0" name="rc22"></button>
        <button mat-raised-button (click)="setbutton(23)" [disabled]="band==true"><img src="../../../assets/imagenes/nothing.gif" border="0" name="rc23"></button>
        <br>
        <button mat-raised-button (click)="setbutton(31)" [disabled]="band==true"><img src="../../../assets/imagenes/nothing.gif" border="0" name="rc31"></button>
        <button mat-raised-button (click)="setbutton(32)" [disabled]="band==true"><img src="../../../assets/imagenes/nothing.gif" border="0" name="rc32"></button>
        <button mat-raised-button (click)="setbutton(33)" [disabled]="band==true"><img src="../../../assets/imagenes/nothing.gif" border="0" name="rc33"></button>
        <br>
        <h1 style="background:white">{{content}}</h1>
    </div>

    <!--<input type="button" mat-button name="b1" value="{{value1}}" (click)="change_b1()">-->
        <!--
        <div class="boton-tateti">
        <button mat-raised-button color="" (click)="change_b1()" *ngIf="value1=='  -  '" [disabled]="ganador!=null">{{value1}}</button>
    
        <button mat-raised-button color="warn" *ngIf="value1=='  O  '" [disabled]="ganador!=null">{{value1}}</button>
    
        <button mat-raised-button color="accent" *ngIf="value1=='  X  '" [disabled]="ganador!=null">{{value1}}</button>
    
      
    
        <button mat-raised-button color="" (click)="change_b2()" *ngIf="value2=='  -  '" [disabled]="ganador!=null">{{value2}}</button>
        
        <button mat-raised-button color="warn" *ngIf="value2=='  O  '" [disabled]="ganador!=null">{{value2}}</button>
        
        <button mat-raised-button color="accent" *ngIf="value2=='  X  '" [disabled]="ganador!=null">{{value2}}</button>
        
        
    
        <button mat-raised-button color="" (click)="change_b3()" *ngIf="value3=='  -  '" [disabled]="ganador!=null">{{value3}}</button>
        
        <button mat-raised-button color="warn" *ngIf="value3=='  O  '" [disabled]="ganador!=null">{{value3}}</button>
    
        <button mat-raised-button color="accent" *ngIf="value3=='  X  '" [disabled]="ganador!=null">{{value3}}</button>

        <br>

    
        <button mat-raised-button color="" (click)="change_b4()" *ngIf="value4=='  -  '" [disabled]="ganador!=null">{{value4}}</button>
        
        <button mat-raised-button color="warn" *ngIf="value4=='  O  '" [disabled]="ganador!=null">{{value4}}</button>
    
        <button mat-raised-button color="accent" *ngIf="value4=='  X  '" [disabled]="ganador!=null">{{value4}}</button>

    
        <button mat-raised-button color="" (click)="change_b5()" *ngIf="value5=='  -  '" [disabled]="ganador!=null">{{value5}}</button>
        
        <button mat-raised-button color="warn" *ngIf="value5=='  O  '" [disabled]="ganador!=null">{{value5}}</button>
    
        <button mat-raised-button color="accent" *ngIf="value5=='  X  '" [disabled]="ganador!=null">{{value5}}</button>

    
        <button mat-raised-button color="" (click)="change_b6()" *ngIf="value6=='  -  '" [disabled]="ganador!=null">{{value6}}</button>
        
        <button mat-raised-button color="warn" *ngIf="value6=='  O  '" [disabled]="ganador!=null">{{value6}}</button>
    
        <button mat-raised-button color="accent" *ngIf="value6=='  X  '" [disabled]="ganador!=null">{{value6}}</button>

        <br>

    
        <button mat-raised-button color="" (click)="change_b7()" *ngIf="value7=='  -  '" [disabled]="ganador!=null">{{value7}}</button>
        
        <button mat-raised-button color="warn" *ngIf="value7=='  O  '" [disabled]="ganador!=null">{{value7}}</button>
    
        <button mat-raised-button color="accent" *ngIf="value7=='  X  '" [disabled]="ganador!=null">{{value7}}</button>

    
        <button mat-raised-button color="" (click)="change_b8()" *ngIf="value8=='  -  '" [disabled]="ganador!=null">{{value8}}</button>
        
        <button mat-raised-button color="warn" *ngIf="value8=='  O  '" [disabled]="ganador!=null">{{value8}}</button>
    
        <button mat-raised-button color="accent" *ngIf="value8=='  X  '" [disabled]="ganador!=null">{{value8}}</button>

    
        <button mat-raised-button color="" (click)="change_b9()" *ngIf="value9=='  -  '" [disabled]="ganador!=null">{{value9}}</button>
        
        <button mat-raised-button color="warn" *ngIf="value9=='  O  '" [disabled]="ganador!=null">{{value9}}</button>
    
        <button mat-raised-button color="accent" *ngIf="value9=='  X  '" [disabled]="ganador!=null">{{value9}}</button>
<br>
    </div>
-->
    <br>
    <br>
    <br>
        <button mat-raised-button color="accent" (click)="valores()" class="btn-partido">Nuevo Partido</button>
    <br>
    <br>
</div>
